<div class="overview-container" *ngIf="weatherAndAirPollution$ | async">
  <nav class="grid grid-cols-12 text-2xl bg-transparent">
    <button
      routerLinkActive="!border-b-blue-400"
      routerLink="now"
      queryParamsHandling="merge"
      class="col-span-2 py-3 border-b-white border-b-2"
    >
      Now
    </button>
    <button
      routerLinkActive="!border-b-blue-400"
      routerLink="today"
      queryParamsHandling="merge"
      class="col-span-2 py-3 border-b-white border-b-2"
    >
      Today
    </button>
    <button class="col-span-2 py-3 border-b-white border-b-2">5 Days</button>
  </nav>
  <router-outlet></router-outlet>
</div>
