<div class="row flex-nowrap overflow-auto">
  <!-- Weather card -->
  <div class="col-4">
    <div class="col-10 pb-3 pt-1 px-3 rounded-xl bg-blue-600">
      <span
        class="iconify text-white text-6xl ms-auto"
        data-icon="arcticons:oneplus-weather"
      ></span>
      <p class="text-slate-300 text-sm my-1">10 AM</p>
      <div class="d-flex align-items-start">
        <span class="text-3xl text-white">26</span>
        <span class="text-yellow-500">*C</span>
      </div>
    </div>
  </div>
  <!-- Weather card -->
  <div class="col-4">
    <div class="col-10 pb-3 pt-1 px-3 rounded-xl bg-blue-600">
      <span
        class="iconify text-white text-6xl ms-auto"
        data-icon="arcticons:oneplus-weather"
      ></span>
      <p class="text-slate-300 text-sm my-1">10 AM</p>
      <div class="d-flex align-items-start">
        <span class="text-3xl text-white">26</span>
        <span class="text-yellow-500">*C</span>
      </div>
    </div>
  </div>
  <!-- Weather card -->
  <div class="col-4">
    <div class="col-10 pb-3 pt-1 px-3 rounded-xl bg-blue-600">
      <span
        class="iconify text-white text-6xl ms-auto"
        data-icon="arcticons:oneplus-weather"
      ></span>
      <p class="text-slate-300 text-sm my-1">10 AM</p>
      <div class="d-flex align-items-start">
        <span class="text-3xl text-white">26</span>
        <span class="text-yellow-500">*C</span>
      </div>
    </div>
  </div>
  <!-- Weather card -->
  <div class="col-4">
    <div class="col-10 pb-3 pt-1 px-3 rounded-xl bg-blue-600">
      <span
        class="iconify text-white text-6xl ms-auto"
        data-icon="arcticons:oneplus-weather"
      ></span>
      <p class="text-slate-300 text-sm my-1">10 AM</p>
      <div class="d-flex align-items-start">
        <span class="text-3xl text-white">26</span>
        <span class="text-yellow-500">*C</span>
      </div>
    </div>
  </div>
</div>
